  <div class="jumbotron">
    <h1 class="title">20K Offer</h1>
    <p class="slogan">20K Offer 是一个提供20K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪优质的工作。
    <br>
     凭借自己的努力也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应聘</a></p>
  </div>


  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fda28tk55hj303k03kq2p.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>清华大学建筑设计院</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fda209ga21j303k03kgld.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>nxswliyi@163.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fda207gf2ij303k03kjr5.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>188-1062-5361</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
